.table{
    width: 300px;
}

.column:nth-child(1){
    width: 150px;
}

.column{
    width: 75px;
}

.rowTotal{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    margin-top: 5px;
}

#paypal-button-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-area: paypal;
}

section{
    grid-template-columns: auto 90% auto;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    ". . ."
    "table table table"
    ". paypal .";
}


@media screen and (min-device-width: 600px){

}








