
/**
tamaño smartphone (hasta 424px)
 */

section {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 30px 30px 30px 50px 1fr;
    grid-template-areas:
    ". . ."
    "search search search"
    "filter filter filter"
    ". . ."
    "cards cards cards";

}

#search {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: search;
    justify-content: center;
}

#search form {
    width: 90%;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: filter;
    justify-content: center;
}

#filters a{
    display: inline-block;
    width: 80px;
    margin: 8px 0 0 12px;
    border-radius: 5px;
    padding: 0 6px;
    text-align: center;
}

#filters a:hover{
    cursor: pointer;
}

#cards {
    grid-area: cards;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    overflow: hidden;
}


input {
    padding: 5px;
    margin-bottom: 5px;
    flex-grow: 2;
    background: rgba(21, 23, 30, 0.84) none;
    border: #0074E0 2px solid;
    border-radius: 5px;
    width: 100%;
}

.card {
    padding: 0;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    background-color: #61617a;
    border-radius: 10px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    margin-left: 5px;
    margin-right: 5px;

}

.card p{
    color: #111111;
    max-width: 290px;
    padding: 5px;
    cursor: default;
}

.title{
    font-weight: bolder;
    font-size: large;
}

.card .image img{
    width: 300px;
    border-radius: 10px;

}
.prize{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.prize p{
    width: fit-content;
}

.card .prize a{
    width: 35px;
    padding: 4px;
    display: block;
    background-color: #0074E0;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
}

.card .clickAble:hover{
    cursor: pointer;
}
.card .notClickAble:hover{
    cursor: not-allowed;
}

 .card .prize a img{
     width: 100%;
 }

 #notFound{
     display: none;
 }

 .selected{
     background-color: rgba(0, 116, 224, 0.45);
     color: #d5d5d5;
     border: 2px solid #15171E;
 }

 .notSelected{
     background: #0074E0;
     border: 2px solid #0000;
 }

 .type{
     font-size: small;
     display: inline-block;
     background: #0074E0;
     padding: 2px;
     border-radius: 5px;
     margin-left: 10px;
     cursor: default;
 }

#cart{
    background: rgba(0, 116, 224, 0.37);
    width: fit-content;
    position: fixed;
    right: 25px;
    border-radius: 10px;
    top: 25px;
}

#cart img{
    width: 50px;
    height: 50px;
}


/**
tamaño Tablet (de 425 px a 1365px)
 */
@media screen and (min-device-width: 425px){
    #cart{
        top: 50px;
    }

    #cart img{
        width: 80px;
        height: 80px;
    }

    #cart:hover{
        background: rgb(0, 116, 224);
    }

}


/**
tamaño Escritorio
 */
@media screen and (min-device-width: 1366px) {

    .card:hover{
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.78);
    }

    #cart img{
        opacity: 0.5;
    }

    #cart img:hover{
        opacity: 1;
    }

}